@import url('https://fonts.googleapis.com/css2?family=Siemreap&display=swap');
.moul-font{
    font-family: "Moul", sans-serif;
 
}
.siemreap-font{
    font-family: "Siemreap", sans-serif;
  
}
/* =================Hero style============== */
.hero{
    height: 100vh;
}
.list-sign{
    width: 90px;
    display: none;
    position: absolute;
}
.access:hover .list-sign{
    display: block;
}
/* offcanvas erspone  */
@media (max-width : 576px){
    .offcanvas{
        width: 80% !important;
    }
}
/* ===Top-Destination style */
.top-destination{
    /* height: 100vh; */
    background-image: url(https://i.pinimg.com/originals/ca/db/f0/cadbf02093dd8e7b4c9e74107ba7b27a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(104px);
}
.blur{
    height: 40px;
    background-color: white;
    top: -20px;
    filter: blur(2px);
}
.lh{
    line-height: 30px !important; 
}
@media (min-width:1280px){
    .image-card{
        height: 40vh ;
    }
}
.image-card{
    height: 55vh !important;
}
.transition{
    transition: 0.3s ease-in-out;
}
.hover-card:hover{
    box-shadow: 0 0 15px gray !important;
}
.brightness{
    filter: brightness(75%) !important;
}
@media (min-width:1280){
    .scroll-card{
        overflow-x: hidden !important;
    }
    
}
.hover-card:hover img{
    transform: scale(1.5);
    
}
/* ================================place Style=================== */
.place{
    
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    background-attachment:fixed;
}
.place .blur-bg{
    width: 100%;
    height: 100%;
    background-color:rgba(122, 119, 125, 0.494);
}
/* Card style */
.image{
    height: 240px;
}
text-limit{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3;
    -webkit-box-orient: vertical;
}
.text-limit-2-line{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:2;
            line-clamp: 3;
    -webkit-box-orient: vertical;

}
/* ===========contact us ==============*/
input::placeholder{
    color: gray !important;
    
}

